[flake8]
exclude = venv, .git, __pycache__, .pytest_cache, .vscode, DocumentosHelp, admin.py, migrations, static, templates, manage.py, db.sqlite3, .idea, .vscode, .gitignore, .gitattributes, .gitmodules
ignore = E501